<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Comment</title>
    </head>
    <body>
        <form action="/players/<%= comment._id %>?_method=PUT" method="POST">
            <div>
                <label for="name">Username</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    placeholder="Username"
                    value="<%=comment.name%>"
                    required
                />
            </div>
            <div>
                <label for="title">Title</label>
                <input
                    type="text"
                    name="title"
                    id="title"
                    placeholder="Title"
                    value="<%=comment.title%>"
                    required
                />
            </div>
            <div>
                <label for="description">Description</label>
                <textarea name="description" id="description" required>
<%=comment.description%></textarea
                >
            </div>
            <div>
                <button>Update</button>
            </div>
        </form>
    </body>
</html>
